{% for post in site.categories[page.section] limit:5 %}
<div>
    <h2>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="small post-meta">by {{ post.author }} on {{ post.date | date: "%-d %b %Y" }} - <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span></span>
    </h2>
    {{ post.excerpt }}
    <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
</div>
{% endfor %}
<!--{% if site.categories[page.section].size > 5 %}
<p><a href="/blog/" class="btn btn-link">Find more blog posts...</a></p>
{% endif %}
{% if site.categories[page.section].size = 0 %}
<p>No news.</p>
{% endif %}-->