<nav class="navbar-head" role="navigation">
    <div class="container-fluid">
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-header-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ page.section | prepend: '/assets/images/' | prepend: site.baseurl }}.png" alt="LocalGov Digital logo" height="70"></a>
			</div>
	
			<div class="collapse navbar-collapse" id="nav-header-menu">
				<ul class="nav navbar-nav navbar-right" role="tablist">
                    <li role="presentation"><a href="{{ site.baseurl }}/localgovcamp/" class="localgovcamp">LocalGovCamp</a></li>
                    <li role="presentation"><a href="{{ site.baseurl }}/local-democracy-bytes/" class="ldbytes">Local Democracy Bytes</a></li>
                    <li role="presentation"><a href="{{ site.baseurl }}/localgov-digital-makers/" class="makers">LocalGov Makers</a></li>
                    <li role="presentation"><a href="{{ site.baseurl }}/localgov-digital-voice/" class="lgvoice">LocalGov Voice</a></li>
				</ul>
			</div>
        </div>
    </div>
</nav>