---
layout: default
---
<div class="jumbotron">
    <div class="container-fluid" style="background: url(lgc.jpg) top right no-repeat;">
        <div class="col-md-8 col-md-offset-1">
            <p class="h1">The free unconference for local government, by local government</p>
            <p class="h2">The next LocalGovCamp will take place on <strong>4th June 2016</strong> in Birmingham.</p>
            <p class="lead">More information on tickets will be available soon.</p>
        </div>
    </div>
</div>

{{ content }}